*{box-sizing: border-box;}

html, body, #root {
    height: 100%;
    margin: 0;
}

#frontpage-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main-section-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}