*{box-sizing: border-box;}

html, body, #root {
    height: 100%;
    margin: 0;
}

#frontpage-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-wrapper {
    display: flex;
    height: 6rem;
    padding: 1rem;
    border-bottom: 0.1rem solid black;
    overflow: hidden;
}

#main-section-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.browser-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-right: 0.1rem solid black;
    overflow-y: auto;
    align-items: center;
}

.img-placeholder {
    width: 10rem;
    height: 10rem;
    background-color: red;
    margin-top: 2rem;
    border: 0.1rem solid black;
    box-shadow: 0.2rem 0.1rem 0.1rem grey;
    border-radius: 10%;
    align-content: center;
    transition: transform 0.2s ease-in-out;
    flex-shrink: 0;
}

.img-placeholder:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main-front-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.front-page-button {
    width: 10rem;
    height: 5rem;
    margin: 2rem;
    border-radius: 15%;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0.2rem 0.1rem 0.1rem grey;
    
}

.front-page-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}