.front-page-button {
    width: 14rem;
    height: 5rem;
    margin: 2rem;
    border-radius: 10%;
    background-color: #025c1c;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0.2rem 0.1rem 0.1rem rgb(61, 27, 27);
    
}

.front-page-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.front-button-text {
    color: rgb(255, 255, 255);
    font-family: cinzel;
}