.dnd-logo-front {
    height: auto;
    width: 20rem;
}

.header-wrapper {
    display: flex;
    height: 9rem;
    padding: 1rem;
    border-bottom: 0.1rem solid black;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.front-header-text {
    font-family: 'Cinzel', serif;
    margin-left: 1rem;
}

.header-content {
    display: flex;
    align-items: center;
}